<div class ="container" id="formulario">
  <form class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <label for="form-text">Nome</label>
        <input type="text" class="form-control" id="name" placeholder="Nome">
        <label for="form-text">Mensagem</label>
        <textarea type="text" class="form-control" id="msg" placeholder="Diga o que deseja"></textarea>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
