<footer class="rodape container">
      <table>
        <tr>
          <td>Contato</td>
          <td>Localização</td>
          <td>Forma de Pagamento</td>
        </tr>
        <tr>
          <td>
            <p>
              <i class="fa fa-map-marker" aria-hidden="true"></i> R. Cap. Félix,
              656 - Benfica
            </p>
            <p>Rio de Janeiro - RJ</p>
            <p>
              <i class="fa fa-phone" aria-hidden="true"></i> (21)2580-7531 /
              (21) 3895-9935 / (21) 96479-1973
            </p>
            <p>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              novaalfort@gmail.com
            </p>
          </td>
          <td><img src="img/mapa.png" /></td>
          <td><img src="img/pagamento.png" /></td>
        </tr>
      </table>

      <p class="copyright container">
        Copyright © - 2018. Todos os direitos reservados
      </p>
    </footer>
