<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Nova Alfort Serviços Expressos</title>
    <meta
      name="description"
      content="Solução em transporte com Kombi, Pickup, Sprinter e Caminhão. Atuando no mercado de entregas, fretes, carretos e seviços de distribuição e coletas ponto a ponto de mercadoreias, documentos. Nosso diferencial está na qualidade, segurança, economia e rapidez."
    />
    <meta
      name="keywords"
      content="entregas, fretes, carretos e seviços de distribuição"
    />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Pedro Azevedo" />
    <link rel="stylesheet" href="style/css-index.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700"
      rel="stylesheet"
    />
    <link rel="icon" href="img/icon.jpeg" />
  </head>
