{% extends "_layouts/main.njk" %}

{%block body %}
<header class="cabecalho">
      <a href="index.html"
        ><h1 class="logo">Nova Alfort Serviços Expressos</h1></a
      >
      <nav class="menu"></nav>
      <div class="telefone-destaque">
        <p>
          (21) 2580-7531/ (21) 3895-9935 / <i class="fa fa-whatsapp"></i> (21)
          96479-1973
        </p>
      </div>
    </header>
    <!-- BANNER -->
    <div class="banner container">
      <div class="title">
        <h2>BEM VINDOS A ALFORT!</h2>
        <h3>
          Transportamos e entregamos com rapidez e segurança em todo Rio de
          Janeiro e Grande Rio.
        </h3>
      </div>
      <div class="buttons">
        <a href="#contato">
          <!-- <button class="btn btn-orcamento bg-white radius">
                        Solicite seu Orçamento!
                    </button> -->
        </a>
      </div>
    </div>

    <!-- SERVICOS -->
    <main class="servicos container">
      <article class="servico bg-white radius">
        <div class="inner">
          <a> Nossa Empresa </a>
          <h4>Oferecemos mais comodidade e economia aos nossos clientes</h4>

          <p>
            O objetivo de nossa Empresa é oferecer tranquilidade, segurança e
            colaboração à nossos clientes. Desde 2000 NOVA ALFORT SERVIÇOS
            EXPRESSOS LTDA vem atuando no mercado de entregas, fretes, Carretos
            e serviços de distribuição e coletas ponto a ponto de mercadorias,
            documentos, Nosso diferencial está na qualidade, segurança, economia
            e rapidez.
          </p>
          <p>
            A equipe de distribuição da Alfort é composta por profissionais com
            grande experiência em Logística e preocupados com a constante
            necessidade de aprimoramento do serviços.
          </p>

          <p>
            Entregas rápidas através de veículos utilitário e caminhões,
            oferecendo assim ao cliente Os serviços de transporte com a
            tecnologia necessária para entregas curtas, médias e Longas
            distância.
          </p>
        </div>
      </article>
      <article class="servico bg-white radius">
        <div class="inner">
          <a> Serviços</a>
          <h4>
            Oferecemos transporte, entrega ponto a ponto. Economize seu tempo
          </h4>
          <p>
            Equipe treinada e qualificada para o melhor atendimento capacitados
            para proporcionar maior conforto, agilidade, praticidade, segurança
            e garantia de um melhor atendimento ao cliente. Várias opções de
            transporte para sua que sua carga seja entregue com segurança e
            rapidez.
          </p>

          <div class="list">
            <ul>
              <li>Transporte encomendas rápidas e urgentes</li>
              <li>Aluguel de Kombi, pickup, vans e caminhões</li>
              <li>Retirada de carga e encomendas</li>
              <li>Mudanças e Carretos</li>
              <li>Coleta de Encomendas</li>
            </ul>
          </div>
        </div>
      </article>

      <div class="imagens-frota">
        <a> Conheça Nossa Frota</a>

        <ul>
          <li><img src="img/frota1.jpeg" /></li>
          <li><img src="img/frota2.jpeg" /></li>
          <li><img src="img/frota3.jpeg" /></li>
          <li><img src="img/frota4.jpeg" /></li>
          <li><img src="img/frota5.jpeg" /></li>
        </ul>
      </div>
      {% include "../mail/mailform.njk" %}
      <div class="social">
        <a href=" http://api.whatsapp.com/send?1=pt_BR&phone=5521964791973"
          ><img src="img/whatsapp.png"
        /></a>
      </div>
    </main>
{%endblock%}
